{% extends 'base.html' %}
{% load staticfiles %}
    {% block scripts %}
    <script type="text/javascript"
               src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="{% static "js/map.js" %}"></script>
        <script type="text/javascript">
            showGoogleMap(false, [{lat: 52.258, lng: 21.020, title: "A", description: "Punkt A"}, {lat: 52.248, lng: 21.020, title: "B", description: "Punkt B"},
                        {lat: 52.248, lng: 21.010, title: "C", description: "Punkt C"}, {lat: 52.258, lng: 21.010, title: "D", description: "Punkt D"}]);
        </script>
      {% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Mapa kin wyświetlających szukany przez Ciebie film</h2>

                    <p>Wpisz, jakiego filmu szukasz. Wybierz, czy chcesz zobaczyć mapę, czy też listę kin
                        wyświetlających dany film.</p>
                </div>
            </div>
        </div>


        <div id="map" style="height: 450px"></div>

    </div>
{% endblock %}

  </body>
</html>