{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="page-header">
            <h2>Repertuar</h2>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">


                    <a href="../../0/{{ type }}" type="button" class="btn btn-default">Dziś</a>
                    <a href="../../1/{{ type }}" type="button" class="btn btn-default">Jutro</a>
                    <a href="../../2/{{ type }}" type="button" class="btn btn-default">Pojutrze</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">


                    <a href="../0/" type="button" class="btn btn-default">Normalny</a>
                    <a href="../1/" type="button" class="btn btn-default">Ulgowy</a>
                    <a href="../2/" type="button" class="btn btn-default">Studencki</a>
                </div>
            </div>
        </div>

        <h2>
            {% if cinema_type %}
                {{ cinema_type }} -
            {% endif %}
            {{ name }}</h2>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Godzina</th>
                        <th>Tytuł filmu</th>
                        <th>Kino</th>
                        <th>Adres</th>
                        <th>Cena</th>
                        <th>Czas dojazdu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sh in shows %}
                            <tr>
                                <td>{{ sh.date|date:"Y-m-d H:i" }}</td>
                                <td><a href="{% url 'by_movie' sh.movie.id %}">{{ sh.movie.title }}</a></td>
                                <td><a href="{% url 'by_cinema' sh.cinema.id %}">{{ sh.cinema.cinema_type }} - {{ sh.cinema.name }}</a></td>
                                <td>{{ sh.cinema.address }}</td>
                                <td> {{ sh.price }} </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
