{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="page-header">
            <h2>Repertuar</h2>

            <p>Wpisz, jakiego filmu szukasz. Wybierz, czy chcesz zobaczyć mapę, czy też listę kin wyświetlających dany
                film.</p>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">dzisiaj</button>
                    <button type="button" class="btn btn-default">jutro</button>
                    <button type="button" class="btn btn-default">pojutrze</button>
                </div>
            </div>
        </div>
        <h2>
            {% if cinema_type %}
                {{ cinema_type }} -
            {% endif %}
            {{ name }}</h2>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Godzina</th>
                        <th>Tytuł filmu</th>
                        <th>Kino</th>
                        <th>Adres</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sh in shows %}
                            <tr>
                                <td>{{ sh.date }}</td>
                                <td>{{ sh.title }}</td>
                                <td>{{ sh.name }}</td>
                                <td>{{ sh.address }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div></div>

    </div>
    </div>
{% endblock %}
</body>
</html>